body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* a {
  text-decoration: none !important;
  color: #222222 !important;
} */
button {
  border: none;
  background-color: bisque;
  color: brown;
  border-radius: 2rem;
  padding: 1%;
  font-weight: bolder;
}
button:hover {
  cursor: pointer;
}
input {
  border: none;
  background-color: bisque;
  color: brown;
  border-radius: 0.2rem;
  padding: 1%;
}
::placeholder {
  color: brown;
}

textarea {
  border: none;
  background-color: bisque;
  color: brown;
  border-radius: 0.5rem;
  padding: 1%;
}

.navbar {
  height: 5rem;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links,
.f-info-socials {
  width: 100%;
}
.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  margin: 0;
  text-align: center;
  height: 8rem;
  background-color: rgb(208, 207, 207);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* Cards */

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.1;
  background-color: white;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}
