body {
  background-color: black;
  color: rgb(255, 195, 121);
}

a {
  text-decoration: none;
  color: rgb(255, 210, 156);
}
button {
  border: none;
  background-color: bisque;
  color: brown;
  border-radius: 2rem;
  padding: 1%;
  font-weight: bolder;
}
button:hover {
  cursor: pointer;
}
input {
  border: none;
  background-color: bisque;
  color: brown;
  border-radius: 0.2rem;
  padding: 1%;
}
::placeholder {
  color: brown;
}

textarea {
  border: none;
  background-color: bisque;
  color: brown;
  border-radius: 0.5rem;
  padding: 1%;
}

.navbar {
  height: 5rem;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links,
.f-info-socials {
  width: 100%;
}
.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: rgb(208, 207, 207);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
